library {
  background-color: Tan;
  padding: 15px;
}

document-authors,
document-author > *,
book > *, author
{
  display: block;
  position: relative;
}

document-author,
document-author > lastname,
document-author > firstname,
author > firstname,
author
{
  display: inline-block;
}

document-authors {
  background-color: Coral;
  border: 1px solid black;
  border-radius:10px;
  width: 450px;
  margin: 10px auto;
  padding: 10px;
}

document-author {
  padding: 10px;
}

document-author > *::before {
  font-weight: bold;
}

document-author > lastname {
  font-size: 18px;
  font-weight: bold;
}

document-author > index::before{
  content: "Indeks: ";
}

document-author > e-mail::before {
  content: "E-mail: ";
}

document-author > faculty::before {
  content: "Kierunek: ";
}

document-author > major::before {
  content: "Specjalizacja: ";
}

document-author > department::before {
  content: "Wydział: ";
}

book {
  background-color: Wheat;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

book::before {
	content:"Autor:  " attr(authorIDREF);
	font-weight:bold;
}

book > title {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

book > *::before {
  font-weight: bold;
  white-space: pre;
  font-size: 17px;
}

book > publisher::before{
  content: "Wydawnictwo:       ";
}

book > page_count::before {
  content: "Liczba stron:          ";
}

book > price::before{
  content: "Cena:                      ";
}

book > price::after{
  content: " zł";
}

book > release_date::before{
  content: "Data publikacji:    ";
}

book > category::before{
  content: "Kategoria:             ";
}

author {
  background-color: Peru;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  content: attr(authorID);
}

author::before{
  content: "ID: " attr(authorID);
  font-weight: bold;
  white-space: pre;
  font-size: 17px;
  display: block;
}

author > lastname::before{
  content: "Author: ";
  font-weight: bold;
  white-space: pre;
  font-size: 17px;
}
